/* trước prefix */
/* h1 {
  color: brown;
  user-select: none; //không cho bôi đen chữ
} */
/* sau prefix */
h1 {
  color: brown;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
/* id */
/* để tác động lên id thì dùng # */
#id1 {
  color: blue;
}
/* class */
/* để tác động lên class dùng dấu . */
.class1 {
  color: brown;
}
.class2 {
  font-size: 40px;
}
/* CSS Pseudo-classes (Lớp giả) */
/* :hover thêm CSS cho các thẻ khi di chuột qua */
p:hover {
  color: aquamarine;
}
/* Lưu ý: ngoài dùng các tagname (thẻ) thì cũng có thẻ dùng id hoặc class */
/* :active - Khi nhấn giữ chuột vào đối tượng sẽ thay đổi theo CSS */
/* :link - thay đổi mặc định của đối tượng, vd thẻ dòng chữ của thẻ a mặc định màu xanh dương 
thì sẽ đổi thành màu theo CSS đã thêm trong link */
/* :visited - Đổi màu đối tượng khi ta đã lick vào, vd 1 cái link nào đó, không còn giữ màu xanh mặc định
nữa mà sẽ đổi thành màu theo CSS đã thêm trong visited */
/* :empty - chọn các thẻ không có nội dung */
/* :target - vừa thay đổi màu theo CSS cho đối tượng, vừa nhảy hash (#) trên địa chỉ*/
h2:target {
  color: blue;
}
