/* trước prefix */
/* h1 {
  color: brown;
  user-select: none; //không cho bôi đen chữ
} */
/* sau prefix */
/* h1 {
  color: brown;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
} */
/* id */
/* để tác động lên id thì dùng # */
/* #id1 {
  color: blue;
} */
/* class */
/* để tác động lên class dùng dấu . */
/* .class1 {
  color: brown;
} */
/* .class2 {
  font-size: 40px;
} */
/* CSS Pseudo-classes (Lớp giả) */
/* :hover thêm CSS cho các thẻ khi di chuột qua */
/* p:hover {
  color: aquamarine;
} */
/* Lưu ý: ngoài dùng các tagname (thẻ) thì cũng có thẻ dùng id hoặc class */
/* :active - Khi nhấn giữ chuột vào đối tượng sẽ thay đổi theo CSS */
/* :link - thay đổi mặc định của đối tượng, vd thẻ dòng chữ của thẻ a mặc định màu xanh dương 
thì sẽ đổi thành màu theo CSS đã thêm trong link */
/* :visited - Đổi màu đối tượng khi ta đã lick vào, vd 1 cái link nào đó, không còn giữ màu xanh mặc định
nữa mà sẽ đổi thành màu theo CSS đã thêm trong visited */
/* :empty - chọn các thẻ không có nội dung */
/* :target - vừa thay đổi màu theo CSS cho đối tượng, vừa nhảy hash (#) trên địa chỉ*/
/* h2:target {
  color: blue;
} */
/* 20/08/2025 */
/* padding, border */
/* div {
  color: yellow;
  font-size: 30px;
  background-color: red;
  width: 200px;
  height: 200px;
  thêm khoảng đệm giữa nội dung và viền (border)
  padding: 20px;
  Đây là cách viết tắt
  border: 10px solid blue;
  Cách viết tường minh
  border-width: 10px;
  border-style: solid;
  border-color: blue;
  border-radius: 30px;
  tạo khoảng cách giữa các phần tử liền kề khác
  margin: 15px;
} */
body {
  background-color: antiquewhite;
}
.container h1 {
  font-size: 40px;
}
.container p {
  font-size: 24px;
  /* khoảng cách giữa các dòng */
  line-height: 1.5;
}
.container {
  /* set cho thẻ có class container nằm giữa trang */
  margin: 0 auto;
  width: 700px;
  text-align: center;
}
/* 22/8/2025 */
a {
  /* bỏ đường gạch chân của link */
  text-decoration: none;
  background-color: pink;
  border-radius: 999px;
  color: black;
  width: 100px;
  display: inline-block;
  text-align: center;
  padding: 8px 16px;
}
/* di chuột đến đối tượng sẽ thay đổi */
a:hover {
  background-color: black;
  color: pink;
}
/* 19/10/2025 */
/* Màu trong CSS */
p {
  /* rgb*/
  /* color: rgb(255, 0, 0); */
  /* rgba */
  color: rgba(red, green, blue, alpha);
  /* alpha là tạo độ trong suốt cho màu chạy từ 0 -> 1 */
}
/* 29/11/2025 */
li {
  /* Bỏ dấu chấm tròn trước các phần tử của list */
  list-style-type: none;
  margin-top: 4px;
}
/* đổi màu icon */
/* Đổi màu cả 3 icon thì chỉ cần tác động vào class chung */
.fa-brands,
.fa-solid {
  color: aqua;
}
/* Đổi màu từng icon chỉ cần tác động vào class riêng của nó */
.fa-facebook {
  color: blue;
}
/* 01/12/2025 */
.box {
  width: 500px;
  height: 500px;
  border-radius: 4px dotted red;
  background-image: url(../IMG/anh-con-cho-1.jpg);
  background-size: contain;
}
